---
import Month from "../components/month.astro"
import MainLayout from "../layouts/mainLayout.astro"
import type { CalendarData } from '../types/calendarData.ts'

const currentYear = new Date().getFullYear()
const locale = 'es-AR'

const intlMonth = new Intl.DateTimeFormat(locale, { month: 'long' })

const monthNames = [2,3].map((monthKey): { monthName:string, startsOn: number, numOfDays: number } => {
  const monthName = intlMonth.format(new Date(currentYear, monthKey))
  const startsOn = new Date(currentYear, monthKey, 1).getDay()
  const numOfDays = new Date(currentYear, monthKey + 1, 0).getDate()

  const splitMonthName = monthName.split('')
  splitMonthName.splice(0, 1, splitMonthName[0].toUpperCase())
  const newMonthName = splitMonthName.join('') 

  return { monthName: newMonthName, startsOn, numOfDays }
})
---

<MainLayout title="Calendario">
  <h1>Calendario</h1>

  <section id="calendar">
    {
      monthNames.map(({ monthName, startsOn, numOfDays }) => {
        const calendarData: CalendarData = {
          locale,
          month: monthName,
          numOfDays,
          startsOn
        }

        return <Month calendarData={calendarData}/>
      })
    }
  </section>

  <script src="../helpers/calendar.js"></script>
</MainLayout>